
<%- include('templates/header', {title: '404'}) %>
<div class="notFound">
    <img src="img/404.gif" alt="404" width="400" height="300">
    <h1>PAGINA NO ENCONTRADA</h1>
</div>
<%- include('templates/footer') %>