<%- include('templates/header', {title: 'Inicio'}) %>
<main class="mdl-layout__content">
    <div class="site-content">
        <div class="container">
            <div class="mdl-grid site-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp welcome-card portfolio-card">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text welcome">Bienvenido/a</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <h2>Sobre mí</h2>
                        <p>
                            Mi nombre es Jeremías Cañadas Oliva, programador Front-End y Back-End, soy una persona muy
                            perseverante que se somete a retos y nunca se rinde a pesar de las adversidades. Amante de
                            la
                            tecnología y con ideas innovadoras competitivas. Autodidacta, nunca dejo de aprender. Soy
                            empático,
                            responsable y proactivo.
                        </p>
                        <p>
                            Soy una persona a la que le apasiona el mundo del desarrollo web desarrollando
                            mis
                            habilidades con libros y plataformas en línea. Mi curiosidad me
                            permite
                            aprender rápidamente nuevas herramientas y tecnologías cuando sea necesario.
                        </p>
                        <p>
                            Disfruto compartiendo mis conocimientos y ayudando a otros cuando es posible. No soy un
                            experto pero
                            en cada proyecto que hago trato de poner el cien por ciento de mi además de que aprendo
                            bastante
                            rápido, el lenguaje que mas domino es javascript, también tengo conocimientos en backend con
                            nodeJs y
                            Express.js, asi que puedo trabajar tanto de frontend como de backend y creo que la
                            experiencia impulsa
                            el aprendizaje.
                        </p>
                    </div>
                </div>
            </div>

            <section class="section--center mdl-grid site-max-width">
                <div
                    class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone  mdl-shadow--4dp">
                    <div class="mdl-card__media"><img class="article-image" src="img/about.jpg" border="0" alt="About">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Lenguajes</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            En lo referente al desarrollo web he estudiado y aprendido distintos lenguajes de
                            programación.
                            Comencé con
                            Python como primer lenguaje de programación luego pasé a las bases de datos SQL en el cual
                            aprendí
                            SQLite,
                            MySQL, PostgreSQL. Al terminar las bases de datos me adentré en mi primer framework y se
                            trata de
                            Django. Cuando
                            finalicé el curso y después de practicar con Django me di cuenta que me encantaba el
                            desarrollo web
                            y me puse a
                            estudiar JavaScript,pero antes estudié HTML a fondo, CSS3 y de ahí pasé al lenguaje de
                            JavaScript
                            aprendiendo
                            también el
                            framework AngularJS 4 hasta AngularJS 10 junto con MongoDB,
                            NodeJS y
                            TypeScript.
                        </p>
                        <h3 class="mdl-card__title-text">Lenguajes, frameworks y más aprendidos:</h3>
                    </div>
                    <div class="site-content">
                        <div class="container">
                            <div class="mdl-grid site-max-width">
                                <div class="demo-card-wide mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                    <div class="mdl-card__media">
                                        <img class="article-image2" src="img/javascript.png" border="0" alt="">
                                    </div>
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">JavaScript</h2>
                                    </div>
                                    <div class="mdl-card__supporting-text">
                                        <ul>
                                            <li class="angular">AngularJS</li>
                                            <li class="mongodb">MongoDB</li>
                                            <li class="nodejs">NodeJS</li>
                                            <li class="expressjs">Express.js</li>
                                            <li class="jquery">jQuery</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="demo-card-wide mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                    <div class="mdl-card__media">
                                        <img class="article-image2" src="img/python.jpg" border="0" alt="">
                                    </div>
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">Python</h2>
                                    </div>
                                    <div class="mdl-card__supporting-text">
                                        <ul>
                                            <li class="django">Django</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="demo-card-wide mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                    <div class="mdl-card__media">
                                        <img class="article-image2" src="img/html5.jpg" border="0" alt="">
                                    </div>
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">HTML5</h2>
                                    </div>
                                    <br>
                                </div><br>
                                <div class="demo-card-wide mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                    <div class="mdl-card__media">
                                        <img class="article-image2" src="img/css3.png" border="0" alt="">
                                    </div>
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">CSS3</h2>
                                    </div>
                                </div><br>
                                <div class="demo-card-wide mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                    <div class="mdl-card__media">
                                        <img class="article-image2" src="img/ts.png" border="0" alt="">
                                    </div>
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">TypeScript</h2>
                                    </div>
                                </div><br>
                                <div class="demo-card-wide mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                                    <div class="mdl-card__media">
                                        <img class="article-image2" src="img/sql.png" border="0" alt="">
                                    </div>
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">Bases de Datos</h2>
                                    </div>
                                    <div class="mdl-card__supporting-text">
                                        <ul>
                                            <li class="mysql">MySQL</li>
                                            <li class="sqlite">SQLite</li>
                                            <li class="sql">SQL Server</li>
                                            <li class="postgre">PostgreSQL</li>
                                        </ul>
                                    </div><br>
                                </div><br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section--center mdl-grid site-max-width">
                <section class="section--center mdl-grid site-max-width homepage-portfolio">
                    <a class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                        href="/projects">Ir A Los Proyectos</a>
                </section>
            </section>
        </div>
    </div>
    <%- include('templates/footer') %>