<%- include('templates/header', {title: 'Proyectos'}) %>
<main class="mdl-layout__content">
    <div class="site-content">
        <div class="container">
            <div class="mdl-grid site-max-width">
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/proyecto-RECTO-GATV-RageMp.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto R.E.C.T.O. Videojuego RAGEMP</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-vuejs">VueJS</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-vuex">Vuex</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5fca2114a1abe2051a7f3582" target="_blank">
                            Leer mas...
                        </a>

                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/proyecto-portafolio.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Portafolio con Angular y BD</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-typescript">TypeScript</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-angularjs">AngularJS</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f843b2712a10477898ccc8d" target="_blank">
                            Leer mas...
                        </a>

                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto Backend con NodeJS.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto BackEnd del Portafolio con NodeJS</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-mysql">MySQL</span><span
                            class="etiqueta-javascript">JavaScript</span><span
                            class="etiqueta-nodejs">NodeJS</span><br><br><span
                            class="etiqueta-mongodb">MongoDB</span><span
                            class="etiqueta-angularjs">AngularJS</span><span class="etiqueta-expressjs">ExpressJS</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f858bb4af6fcea0634ec567" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/proyecto-crea-faccion-GATV-RageMp.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Crea Facción Videojuego RAGEMP</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-vuejs">VueJS</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-vuex">Vuex</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5fca2de0a1abe2051a7f3584" target="_blank">
                            Leer mas...
                        </a>

                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto Calendario.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Calendario Dinámico Categorias</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-javascript">JavaScript</span><span
                            class="etiqueta-html5">HTML5</span><span class="etiqueta-css3">CSS3</span>
                    </div><br><br><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f858cc9af6fcea0634ec569" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/proyecto-PC-medico-GATV-RageMp.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto PC Médico Videojuego RAGEMP</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-vuejs">VueJS</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-vuex">Vuex</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5fca2b37a1abe2051a7f3583" target="_blank">
                            Leer mas...
                        </a>

                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/proyecto-organizar-faccion-GATV-RageMp.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Facción Videojuego RAGEMP</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-vuejs">VueJS</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-vuex">Vuex</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5fca2f0aa1abe2051a7f3585" target="_blank">
                            Leer mas...
                        </a>

                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto links favoritos.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Links Favoritos con Login</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-mysql">MySQL</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-nodejs">NodeJS</span><span
                            class="etiqueta-expressjs">ExpressJS</span><span class="etiqueta-bootstrap">Bootstrap</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f858c4faf6fcea0634ec568" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/proyecto-notificaiones-GATV-RageMp.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Notificaciones Videojuego RAGEMP</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-vuejs">VueJS</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-vuex">Vuex</span>
                    </div><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5fca3421a1abe2051a7f3586" target="_blank">
                            Leer mas...
                        </a>

                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto Chat Socket.io y NodeJS.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Chat Socket.io y NodeJS</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-nodejs">NodeJS</span><span class="etiqueta-socket">Socket.io</span>
                    </div><br><br><br><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f858de8af6fcea0634ec56b" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto registro laboral.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Registro Laboral con Login</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-mysql">MySQL</span><span
                            class="etiqueta-javascript">JavaScript</span><span class="etiqueta-html5">HTML5</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-nodejs">NodeJS</span><span
                            class="etiqueta-expressjs">ExpressJS</span><span class="etiqueta-bootstrap">Bootstrap</span>
                    </div><br><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f858e62af6fcea0634ec56c" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto Portafolio 2.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Este Mismo Portafolio Web</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span
                            class="etiqueta-javascript">JavaScript</span><span
                            class="etiqueta-mongodb">MongoDB</span><span
                            class="etiqueta-css3">CSS3</span><br><br><span class="etiqueta-nodejs">NodeJS</span><span
                            class="etiqueta-expressjs">ExpressJS</span>
                    </div><br><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f858f1caf6fcea0634ec56d" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div><br>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto lista compra.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Lista compra NodeJS y MongoDB</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-javascript">JavaScript</span><span
                            class="etiqueta-html5">HTML5</span><span class="etiqueta-css3">CSS3</span><br><br><span
                            class="etiqueta-nodejs">NodeJS</span><span class="etiqueta-expressjs">ExpressJS</span><span
                            class="etiqueta-mongodb">MongoDB</span>
                    </div><br><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f859004af6fcea0634ec56e" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="article-image" src="img/Proyecto pagina noticias.png" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Proyecto Pagina Noticias</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <span class="etiqueta-javascript">JavaScript</span><span
                            class="etiqueta-html5">HTML5</span><span class="etiqueta-css3">CSS3</span>
                    </div><br><br><br><br><br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                            href="/project/5f858d78af6fcea0634ec56a" target="_blank">
                            Leer mas...
                        </a>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
<%- include('templates/footer') %>