<footer class="mdl-mini-footer">
    <div class="footer-container">
      <ul class="mdl-mini-footer__link-list">
        <li>&copy; Jeremías Cañadas Oliva</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>✉ imerej_@hotmail.com</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li>☏ 628 635 273</li>
      </ul>
    </div>
  </footer>
</main>
<script src="https://code.getmdl.io/1.3.0/material.min.js" defer></script>
</div>
</body>

</html>